apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-rebalance-job
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 5
  activeDeadlineSeconds: 240
  template:
    metadata:
      name: kafka-rebalance-job
    spec:
      restartPolicy: OnFailure
      containers:
      - name: kafka-rebalance
        image: {{ .Values.kafka_rebalance_image | quote }}
        imagePullPolicy: IfNotPresent
        command: ["/bin/bash","-c"]
        args: ["kafkakit-prometheus-metricsfetcher --zk-addr {{.Values.zk_url | quote}} --prometheus-url {{ .Values.prometheus_url | quote }} --broker-storage-query {{ .Values.broker_storage_query | quote}} --partition-size-query {{.Values.partition_size_query | quote}} ; topicmappr rebalance --zk-addr {{.Values.zk_url | quote}} --topics {{ .Values.topics | quote }} --brokers {{ .Values.brokers }} --tolerance 0.2 | grep -v no-op"]

