apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-rebalance-job
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 5
  activeDeadlineSeconds: 240
  template:
    metadata:
      name: kafka-rebalance-job
    spec:
      restartPolicy: OnFailure
      containers:
      - name: kafka-rebalance
        image: {{ .Values.global.kafka_rebalance_image | quote }}
        imagePullPolicy: IfNotPresent
        command: ["topicmappr","rebalance","--zk-addr", {{.Values.global.zk_url | quote}},"--topics",{{ .Values.topics | quote }},"--brokers",{{ .Values.brokers | quote }},"--partition-size-threshold",{{ .Values.partitionThreshold | quote }},"--storage-threshold",{{ .Values.storageThreshold | quote }},"--tolerance",{{ .Values.tolerance | quote }},"--verbose","--ignore-warns","|","grep -v","no-op"]
        args: ["cat fmm-metrics.json"]
