apiVersion: batch/v1
kind: Job
metadata:
  name: kafka-rebalance-job
spec:
  parallelism: 1
  completions: 1
  backoffLimit: 5
  activeDeadlineSeconds: 240
  template:
    metadata:
      name: kafka-rebalance-job
    spec:
      restartPolicy: OnFailure
      containers:
      - name: kafka-rebalance
        image: {{ .Values.global.kafka_rebalance_image | quote }}
        imagePullPolicy: IfNotPresent
        env:
        # - name: KAFKA_ENDPOINT
        #   value: {{ .Values.kafkaEndpoint }}
        - name: KAFKA_TOPICS
          value: {{ .Values.topics | quote }}    
        - name: BROKERS
          value: {{ .Values.brokers | quote }}        
        - name: PARTITION_THRESHOLD
          value: {{ .Values.partitionThreshold | quote  }}    
        - name: STORAG_THRESHOLD
          value: {{ .Values.storageThreshold | quote }}    
        - name: TOLERANCE
          value: {{ .Values.tolerance | quote }}          
